<%- include("./partials/head2.ejs")%>

    <body>
        <%- include("./partials/navbar.ejs")%>
            <h2 class="title">Lista pošiljaka</h2>
            <p class="delete-all"> <button onclick="confirmDelete()">Izbriši listu</button></p>

            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Klijent</th>
                        <th>Grad</th>
                        <th>Ime i Prezime</th>
                        <th>Adresa</th>
                        <th>Telefon</th>
                        <th>Cena</th>
                        <th>PTT</th>
                        <th>Datum</th>
                        <th>Vreme unosa</th>
                        <th>Napomena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% if(pakets.length> 0) { %>
                        <% var rowNumber=1; %>
                            <% pakets.forEach(paket=> { %>
                                <tr>
                                    <td>
                                        <%= rowNumber %>
                                    </td>
                                    <td>
                                        <%= paket.klijent %>
                                    </td>
                                    <td>
                                        <%= paket.grad %>
                                    </td>
                                    <td>
                                        <%= paket.imeprezime %>
                                    </td>
                                    <td>
                                        <%= paket.adresa %>
                                    </td>
                                    <td>
                                        <%= paket.telefon %>
                                    </td>
                                    <td>
                                        <%= paket.cena %>
                                    </td>
                                    <td>
                                        <%= paket.ptt %>
                                    </td>
                                    <td>
                                        <%= new Date(paket.datum).toLocaleDateString('sr-RS') %>
                                    </td>
                                    <td>
                                        <%= new Date(paket.createdAt).toLocaleTimeString('sr-RS') %>
                                    </td>
                                    <td>
                                        <%= paket.napomena %>
                                    </td>
                                    <td>
                                        <a class="delete" data-doc="<%= paket._id %>" href="#">
                                            <img src="/public/trashcan.svg" alt="Trashcan Icon"></a>
                                    </td>
                                </tr>
                                <% rowNumber++; %>
                                    <% }); %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5">Nema unetih pošiljaka za prikaz</td>
                                            </tr>
                                            <% } %>
                </tbody>
            </table>
            <script>

                // Delete one function
                const deleteButtons = document.querySelectorAll('a.delete');

                deleteButtons.forEach(button => {
                    button.addEventListener('click', (e) => {
                        e.preventDefault();
                        const isConfirmed = confirm(`Obrisi pošiljku?`)

                        if (isConfirmed) {
                            const docId = button.getAttribute('data-doc');
                            const endpoint = `/paket/${docId}`;

                            fetch(endpoint, {
                                method: 'DELETE',
                            })
                                .then(response => response.json())
                                .then(data => window.location.href = data.redirect)
                                .catch(err => console.log(err));
                        }
                    });
                });

                // Sort rows by  klijent, grad, adresa, and then by datum
                // Reference to the table and its body
                const table = document.querySelector('table');
                const tableBody = table.querySelector('tbody');

                // Function to sort rows based on a specific column index
                const sortTable = (columnIndex, dataType) => {
                    const rows = Array.from(tableBody.querySelectorAll('tr'));

                    // Sort the rows based on the content of the selected column
                    rows.sort((rowA, rowB) => {
                        const valueA = getDataValue(rowA.cells[columnIndex], dataType);
                        const valueB = getDataValue(rowB.cells[columnIndex], dataType);

                        if (dataType === 'string') {
                            return valueA.localeCompare(valueB);
                        } else if (dataType === 'number') {
                            return valueA - valueB;
                        } else if (dataType === 'date') {
                            return new Date(valueA) - new Date(valueB);
                        }
                    });

                    // Reorder the rows in the table based on the sorted rows
                    rows.forEach((row, index) => {
                        tableBody.appendChild(row);
                        row.querySelector('td:first-child').textContent = index + 1;
                    });
                };

                // Function to extract data value from a table cell based on its dataType
                const getDataValue = (cell, dataType) => {
                    const cellContent = cell.textContent.trim();

                    if (dataType === 'number') {
                        return parseFloat(cellContent);
                    } else if (dataType === 'date') {
                        return new Date(cellContent);
                    }

                    return cellContent;
                };

                // Add click event listeners to the table headers for sorting
                const headers = table.querySelectorAll('thead th');

                headers.forEach((header, index) => {
                    header.addEventListener('click', () => {
                        let dataType = 'string'; // Default to string type

                        // Determine the data type based on the header's class
                        if (header.classList.contains('numeric')) {
                            dataType = 'number';
                        } else if (header.classList.contains('date')) {
                            dataType = 'date';
                        }

                        // Toggle between ascending and descending order
                        if (header.classList.contains('asc')) {
                            header.classList.remove('asc');
                            header.classList.add('desc');
                        } else {
                            header.classList.remove('desc');
                            header.classList.add('asc');
                        }

                        // Remove sorting classes from other headers
                        headers.forEach((otherHeader, otherIndex) => {
                            if (otherIndex !== index) {
                                otherHeader.classList.remove('asc', 'desc');
                            }
                        });

                        // Sort the table based on the selected column
                        sortTable(index, dataType);
                    });
                });


                // Reorder the rows in the table based on the sorted rows
                rows.forEach((row, index) => {
                    tableBody.appendChild(row);
                    row.querySelector('td').textContent = index + 1;
                });



                //Delete all confirm script
                function confirmDelete() {
                    var confirmation = window.confirm("Da li ste sigurni da želite da obrišete listu?");
                    if (confirmation) {
                        window.location.href = "/paket/deleteall"; // Redirect to the deleteall route
                    }
                }

            </script>
            <%- include("./partials/footer.ejs") %>
    </body>

    </html>