<%- include("./partials/head2.ejs")%>

    <body>
        <%- include("./partials/navbar.ejs")%>
            <h2 class="title">Lista pošiljaka</h2>
            <p class="delete-all"> <button onclick="confirmDelete()">Izbriši listu</button></p>

            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Klijent</th>
                        <th>Grad</th>
                        <th>Adresa</th>
                        <th>Telefon</th>
                        <th>Cena</th>
                        <th>PTT</th>
                        <th>Datum</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% if(pakets.length> 0) { %>
                        <% var rowNumber=1; %>
                            <% pakets.forEach(paket=> { %>
                                <tr>
                                    <td>
                                        <%= rowNumber %>
                                    </td>
                                    <td>
                                        <%= paket.klijent %>
                                    </td>
                                    <td>
                                        <%= paket.grad %>
                                    </td>
                                    <td>
                                        <%= paket.adresa %>
                                    </td>
                                    <td>
                                        <%= paket.telefon %>
                                    </td>
                                    <td>
                                        <%= paket.cena %>
                                    </td>
                                    <td>
                                        <%= paket.ptt %>
                                    </td>
                                    <td>
                                        <%= new Date(paket.datum).toLocaleDateString('sr-RS') %>
                                    </td>
                                    <td>
                                        <a class="delete" data-doc="<%= paket._id %>" href="#">
                                            <img src="/public/trashcan.svg" alt="Trashcan Icon"></a>
                                    </td>
                                </tr>
                                <% rowNumber++; %>
                                    <% }); %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5">Nema unetih pošiljaka za prikaz</td>
                                            </tr>
                                            <% } %>
                </tbody>
            </table>
            <script>

                // Delete one function
                const deleteButtons = document.querySelectorAll('a.delete');

                deleteButtons.forEach(button => {
                    button.addEventListener('click', (e) => {
                        e.preventDefault();
                        const docId = button.getAttribute('data-doc');
                        const endpoint = `/paket/${docId}`;

                        fetch(endpoint, {
                            method: 'DELETE',
                        })
                            .then(response => response.json())
                            .then(data => window.location.href = data.redirect)
                            .catch(err => console.log(err));
                    });
                });

                // Sort rows by grad, klijent, adresa, and then by datum
                rows.sort((a, b) => {
                    const gradA = a.querySelectorAll('td')[1].textContent.toLowerCase();
                    const gradB = b.querySelectorAll('td')[1].textContent.toLowerCase();
                    const klijentA = a.querySelectorAll('td')[2].textContent.toLowerCase();
                    const klijentB = b.querySelectorAll('td')[2].textContent.toLowerCase();
                    const adresaA = a.querySelectorAll('td')[3].textContent.toLowerCase();
                    const adresaB = b.querySelectorAll('td')[3].textContent.toLowerCase();
                    const datumA = new Date(a.querySelectorAll('td')[7].textContent);
                    const datumB = new Date(b.querySelectorAll('td')[7].textContent);

                    if (gradA !== gradB) {
                        return gradA.localeCompare(gradB);
                    } else if (klijentA !== klijentB) {
                        return klijentA.localeCompare(klijentB);
                    } else if (adresaA !== adresaB) {
                        return adresaA.localeCompare(adresaB);
                    } else {
                        return datumA - datumB;
                    }
                });

                // Reorder the rows in the table based on the sorted rows
                rows.forEach((row, index) => {
                    tableBody.appendChild(row);
                    row.querySelector('td').textContent = index + 1;
                });



                //Delete all confirm script
                function confirmDelete() {
                    var confirmation = window.confirm("Da li ste sigurni da želite da obrišete listu?");
                    if (confirmation) {
                        window.location.href = "/paket/deleteall"; // Redirect to the deleteall route
                    }
                }

            </script>
            <%- include("./partials/footer.ejs") %>
    </body>

    </html>