<%- include("./partials/head.ejs")%>

    <body>
        <%- include("./partials/navbar.ejs")%>
            <div class="page-container">
                <div class="register-container">
                    <h2>Registruj korisnika</h2>
                    <form action="/user/register" method="post">
                        <div class="form-group">
                            <label for="username">Korisničko ime:</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Šifra:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm-password">Potvrdi šifru:</label>
                            <input type="password" id="confirm-password" name="confirm-password" required>
                            <p id="password-match-message" style="color: red;"></p>
                        </div>
                        <div class="form-group" id="ptt-field">
                            <div id="ptt-inner">
                                <label for="pttBG">PTT BG:</label>
                                <input type="number" id="pttBG" name="pttBG" required>
                            </div>
                            <div id="ptt-inner">
                                <label for="pttNS">PTT NS:</label>
                                <input type="number" id="pttNS" name="pttNS" required>
                            </div>
                            <div id="ptt-inner">
                                <label for="pttPA">PTT PA:</label>
                                <input type="number" id="pttPA" name="pttPA" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select id="role" name="role">
                                <option value="klijent">Klijent</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                        <button type="submit" class="btn">Sačuvaj</button>
                    </form>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Korisnik</th>
                            <th>BG-ptt</th>
                            <th>NS-ptt</th>
                            <th>PA-ptt</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(users.length> 0) { %>
                            <% var rowNumber=1; %>
                                <% users.forEach(user=> { %>
                                    <tr>
                                        <td>
                                            <%= rowNumber %>
                                        </td>
                                        <td>
                                            <%= user.username %>(<%= user.role %>)
                                        </td>
                                        <td>
                                            <%= user.pttBG %>
                                        </td>
                                        <td>
                                            <%= user.pttNS %>
                                        </td>
                                        <td>
                                            <%= user.pttPA %>
                                        </td>
                                        <td>
                                            <a class="delete" data-doc="<%= user._id %>" href="#">
                                                <img src="/public/trashcan.svg" alt="Trashcan Icon"></a>
                                        </td>
                                    </tr>
                                    <% rowNumber++; %>
                                        <% }); %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="5">Nema klijenata za prikaz!</td>
                                                </tr>
                                                <% } %>
                    </tbody>
                </table>
            </div>


            <script>

                //password
                const passwordInput = document.getElementById('password');
                const confirmInput = document.getElementById('confirm-password');
                const message = document.getElementById('password-match-message');
                const form = document.querySelector('form');

                function validatePassword() {
                    if (passwordInput.value !== confirmInput.value) {
                        message.textContent = 'Šifre se ne poklapaju.';
                        form.addEventListener('submit', preventSubmit);
                    } else {
                        message.textContent = '';
                        form.removeEventListener('submit', preventSubmit);
                    }
                }

                function preventSubmit(event) {
                    event.preventDefault();
                    message.textContent = 'Šifre se ne poklapaju. Molim vas da proverite da li se vaše šifre poklapaju.';
                }

                passwordInput.addEventListener('input', validatePassword);
                confirmInput.addEventListener('input', validatePassword);

                const deleteButtons = document.querySelectorAll('a.delete');
                // Delete button
                deleteButtons.forEach(button => {
                    button.addEventListener('click', (e) => {
                        e.preventDefault();

                        const isConfirmed = confirm('Da li ste sigurni da želite obrisati korisnika?');

                        if (isConfirmed) {
                            const docId = button.getAttribute('data-doc');
                            const endpoint = `/user/${docId}`;

                            fetch(endpoint, {
                                method: 'DELETE',
                            })
                                .then(response => response.json())
                                .then(data => window.location.href = data.redirect)
                                .catch(err => console.log(err));
                        }
                    });
                });

                const roleSelect = document.getElementById('role');
                const pttField = document.getElementById('ptt-field');
                const pttInputs = Array.from(document.querySelectorAll('#ptt-field input'));

                function togglePTTField() {
                    const selectedRole = roleSelect.value;

                    if (selectedRole === 'admin') {
                        // Sakrij PTT polja za admina
                        pttField.style.display = 'none';
                        pttInputs.forEach(input => {
                            input.required = false;
                        });
                    } else {
                        // Prikazi PTT polja za klijenta
                        pttField.style.display = 'block';
                        pttInputs.forEach(input => {
                            input.required = true;
                        });
                    }
                }

                // Inicijalno postavi 'required' atribut na osnovu podrazumevane uloge
                togglePTTField();

                roleSelect.addEventListener('change', togglePTTField);

                // Initially set the 'required' attribute based on the default selected role
                togglePTTField();

                roleSelect.addEventListener('change', togglePTTField);
            </script>

    </body>

    </html>